.education-details {
	.row {
		margin-bottom: 10px;
	}
}

.education-list-item {
	font-style: italic;

	.timeline {
		font-size: 12px;
	}
}

.row {
	.institute-name {
		font-style: normal;
		margin: 0;
		margin-block-end: 5px;
	}
}