.certifications-list {
	.row {
		margin: 3px 0;
	}

	.certifications-list-item {
		// list-style-type: "\2605";
		list-style-type: disc;
		margin-inline-start: 10px;
		// padding-inline-start: 5px;
	}
}